.btn {
  border: 1px solid var(--color-contrast-low);
  border-radius: var(--input-radius);
  padding: calc(var(--app-space)/2) var(--app-space);
  height: var(--input-height);
  background: var(--color-contrast-lower);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  i {
    background: none;
    color: var(--color-primary);
    margin-right: calc(var(--app-space)/2);
  }
}