.content-form {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  &--group {
    margin-bottom: calc(var(--app-space) * 6);
  }

  // .title-form {
  //   font-weight: 600;
  //   margin-bottom: calc(var(--app-space) * 2);
  // }

  // .subtitle-form {
  //   font-weight: 600;
  //   margin-bottom: calc(var(--app-space) * 1.5);
  // }
}



.input-box {
  display: flex;
  align-items: baseline;


  &--label {
    margin-right: 5px;
    position: relative;
    padding-right: 10px;

    &.-blank {
      visibility: hidden;
    }
    &::after {
      content: ':';
      position: absolute;
      right: 0;
      width: 5px;
    }
  }

  &--field {
    display: flex;
    align-items: baseline;

    input,
    select {
      width: 100%;
    }

    &:not(:first-of-type) {
      margin-left: calc(var(--app-space) * 2);
    }

    .input-suffix {
      margin-left: 5px;
      white-space: nowrap;
    }

    .input-prefix {
      margin-right: 5px;
      white-space: nowrap;
    }
  }

  &.--flex1 {
    flex: 1;

    .input-box {
      &--label {
      }

      &--field {
        flex: 1;
      }
    }
  }
}

.row {
  .input-box {
    &:not(:last-child) {
      margin-right: calc(var(--app-space) * 2);
    }
  }
}

.address-form {
  .input-box {

    &.house-col,
    &.village-col {
      .input-box--field {
        width: 110px;
      }
    }

    &.house-col {
    }

    &.village-col {
    }

    &.soi-col {
      flex: 1;

      .input-box--field {
        flex: 1;
      }
    }

    &.road-col,
    &.subdistrict-col,
    &.district-col,
    &.province-col,
    &.zipcode-col,
    &.phone-col {
      flex-basis: 50%;

      .input-box--field {
        flex: 1;
      }
    }

    &.house-col,
    &.soi-col,
    &.road-col,
    &.subdistrict-col,
    &.district-col,
    &.province-col,
    &.zipcode-col {
      .input-box--label {
        width: 100px;
      }
    }

    &.road-col {
    }

    &.subdistrict-col {
    }

    &.district-col {
    }

    &.province-col {
    }

    &.zipcode-col {
    }

    &.phone-col {
    }
  }
}

.leased-property-form {
  .input-box {

    &.type-col,
    &.objective-col {
      .input-box--field {
        width: 348px;

        >* {
          width: 100%;
        }
      }
    }

    // &.objective-col {
    //   .input-box--field{
    //     width: 348px;
    //   }
    // }
    // &.objective-col {
    //   .input-box--field{
    //     width: 348px;
    //   }
    // }
    &.type-col,
    &.location-property-col,
    &.deed-code-col,
    &.objective-col {
      .input-box--label {
        width: 130px;
      }
    }

    &.space-col {
      .input-box--field {
        max-width: 114px;

        // flex: 1;
        input {
          text-align: right;
        }
      }
    }

    &.deed_no-col {
    }

    &.moi-declare-col {
      .input-box--label {
        width: 498px;
      }
    }

    &.district-col,
    &.road-col,
    &.nearby-col,
    &.house-col {
      .input-box--label {
        width: 86px;
      }
    }

    &.house-col,
    &.village-col {
      .input-box--field {
        width: 117px;
      }
    }

    &.district-col {
    }

    &.province-col,
    &.subdistrict-col,
    &.soi-col,
    &.location-col,
    &.deed-no-col {
      .input-box--label {
        width: 88px;
      }
    }

    &.province-col {
    }

    &.subdistrict-col {
    }
  }

}

.appointment-pay-form {
  .input-box {

    &.rental-fee-col {
      .input-box--label {
        width: 250px;
        &::after {
          content: '';
        }
      }
    }
  }
}

.pay-rent-advance-form {
  .input-box {

    &.deadline-monthly-col,
    &.deadline-yearly-date-col {
      .input-box--label {
        width: 95px;
      }
    }
  }
}

.lease-collateral {

  .input-box {
    input {
      width: 140px;
    }

    .input-prefix {
      margin-left: 20px;
    }

    .cash-text-field {
      margin-left: 73px;
    }

    &.cash-col,
    &.cashier-cheque-col,
    &.bank-collateral-col,&.bank-collateral-no-col {
      .input-box--label {
        width: 224px;
      }
    }
    &.bank-collateral-no-col{
      text-align: right;
    }

    &.cash-rcpt-dated-col,
    &.cashier-cheque-rcpt-date-col,
    &.bank-collateral-dated-col {
      .input-box--label {
        margin-left: 50px;
      }
    }
  }
}