input:not([type=checkbox]):not([type=radio]), select, textarea, .input-box--value {
  border: 1px solid var(--color-contrast-low);
  border-radius: var(--input-radius);
  padding: calc(var(--app-space)/2) var(--app-space);
  box-sizing: border-box !important;
}
input:not([type=checkbox]):not([type=radio]), select, .input-box--value {
  height: var(--input-height);
}
input:not([type=checkbox]):not([type=radio]), select, textarea {
  &:hover,
    &:focus {
    border: 1px solid var(--color-primary);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), .4);
  }
}
.text-in-input {
  border: 0;
  position: absolute;
  display: inline-block;
  padding: calc(var(--app-space) / 2 + 4px) var(--app-space);
  height: var(--input-height);
  box-sizing: border-box !important;
}

select {

}
input[type="date"] {
  max-width: 140px;
}