/*.bat
/*.lnk
/target/
/src/main/webapp/**/*.css
/src/main/webapp/**/*.css.map
/src/main/webapp/**/*.js
/src/main/webapp/**/*.js.map
!/src/main/webapp/WEB-INF/**/*.js
.vscode
.vscode/settings.json
.DS_Store