@import "../css/index.css";
[data-page="input"] {
  table.list {
    [data-pane="receive"] {
      min-width: 50px;
      max-width: 50px;
      padding: 0;
      input {
        width: 100%;
        text-align: right;
      }
    }
  }
}