iframe {
    border: 0;
}

.left-menu-container {
    display: flex;
    > :first-child {
        width: 300px;
        + * {
            flex: 1;
        }
    }
}
table.list {
    width: 100%;
    > * > tr > td {
        vertical-align: text-top;
    }
}
.full-left {
    display: flex;
    > :first-child {
        flex: 1;
    }
}