iframe {
    border: 0;
}

table {
    border-spacing: 0;
    &:not(.-no-border) {
        border: 1px solid gray;
        > thead, > tbody, > tfoot {
            > tr > td {
                border: 1px solid gray;
            }
        }
    }
    &.-full-input {
        > thead, > tbody, > tfoot {
            > tr > td {
                > input, > form > input  {
                    border: 0;
                    width: 100%;
                }
            }
        }
    }
}

.left-menu-container {
    display: flex;
    > :first-child {
        width: 300px;
        + * {
            flex: 1;
        }
    }
}
.list {
    width: 100%
}
.full-left {
    display: flex;
    > :first-child {
        flex: 1;
    }
}