iframe {
    border: 0;
}

.left-menu-container {
    display: flex;
    > :first-child {
        width: 300px;
        + * {
            flex: 1;
        }
    }
}
.list {
    width: 100%
}
.full-left {
    display: flex;
    > :first-child {
        flex: 1;
    }
}