:root {
  --text-xxxxl: 1.75rem;
  --text-xxxl: 1.625rem;
  --text-xxl: 1.5rem;
  --text-xl: 1.375rem;
  --text-lg: 1.25rem;
  --text-md: 1.125rem;
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --text-xxs: 0.625rem;
}