:root {
  --text-xxxxl: 1.75rem;
  --text-xxxl: 1.625rem;
  --text-xxl: 1.5rem;
  --text-xl: 1.375rem;
  --text-lg: 1.25rem;
  --text-md: 1.125rem;
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --text-xxs: 0.625rem;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 1.17em;
  font-weight: 600;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}