.col-1 {
  width: 4.1666666667%;
}

.col-2 {
  width: 8.333333333333333%;
}

.col-3 {
  width: 12.5000000001%;
}

.col-4 {
  width: 16.6666666668%;
}

.col-5 {
  width: 20.8333333335%;
}

.col-6 {
  width: 25.0000000002%;
}

.col-7 {
  width: 29.1666666669%;
}

.col-8 {
  width: 33.3333333336%;
}

.col-9 {
  width: 37.5000000003%;
}

.col-10 {
  width: 41.666666667%;
}

.col-11 {
  width: 45.8333333337%;
}

.col-12 {
  width: 50.0000000004%;
}

.col-13 {
  width: 54.1666666671%;
}

.col-14 {
  width: 58.3333333338%;
}

.col-15 {
  width: 62.5000000005;
}

.col-16 {
  width: 66.6666666672%;
}

.col-17 {
  width: 70.8333333339%;
}

.col-18 {
  width: 75.0000000006%;
}

.col-19 {
  width: 79.1666666673%;
}

.col-20 {
  width: 83.333333334%;
}

.col-21 {
  width: 87.5000000007;
}

.col-22 {
  width: 91.6666666674%;
}

.col-23 {
  width: 95.8333333341;
}

.col-24 {
  width: 100%;
}