body {
    margin: 0;
    padding: 0;
}

.app-container {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-headers {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid var(--color-primary);
}

.app-content {
    max-width: var(--app-content-size);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex: 1;
    padding: var(--app-space);

    .main-menu {
        min-width: 200px;
        width: auto;
        max-width: 350px;

        +* {
            flex: 1;
        }
    }

    iframe {
        border: 0;
        padding: var(--app-space);
        color: var(--color-text);
    }
}

.app-content-preview {
    padding: calc(var(--app-space) / 2);
}

.row {
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
}


.list {
    width: 100%
}

.full-left {
    display: flex;

    > :first-child {
        flex: 1;
    }
}