// Modify Class
// -------------------------------
.__transparent {
  opacity: .5;
  &9 {
    opacity: .9;
  }
  &8 {
    opacity: .8;
  }
  &7 {
    opacity: .7;
  }
  &6 {
    opacity: .6;
  }
  &5 {
    opacity: .5;
  }
  &4 {
    opacity: .4;
  }
  &3 {
    opacity: .3;
  }
  &2 {
    opacity: .2;
  }
  &1 {
    opacity: .1;
  }
  &0 {
    opacity: 0;
  }
}